<div class="container main-content">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <h1>Editing Article id <%= @article.id %></h1>
        </div>
    </div>
    <%= render 'form' %>
</div>