<div class="container main-content">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h1 align="center">Blog</h1>
            <p><%= link_to "Add a new Article", new_article_path %></p>
            <% @articles.each do |a| %>
            <div class="well well-lg">
                <div class="article-title">
                    <%= link_to a.title, article_path(a) %>
                </div>
                <div class="article-body">
                    <%= truncate(a.description, length: 100) %>
                </div>
                <div class="article-actions">
                    <%= link_to "Edit", edit_article_path(a), class: "btn btn-xs btn-primary" %>
                    <%= link_to "Delete", article_path(a), method: :delete,
                                        data: { confirm: "Are you sure?" },
                                        class: "btn btn-xs btn-danger" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>