<div class="container main-content">
    <%= render "shared/errors", obj: @article %>
    <h2 align="center"><%= @article.title %></h2>
    <div class="well col-xs-8 col-xs-offset-2">
        <%= simple_format(@article.description) %>
        <div class="article-actions">
            <%= link_to "Edit", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete", article_path(@article), method: :delete,
                                data: { confirm: "Are you sure?" },
                                class: "btn btn-xs btn-danger" %>
            <%= link_to "Back to Blog", articles_path, class: "btn btn-xs btn-success" %>
        </div>
    </div>
</div>