<% if obj.errors.any? %>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title">We had <%= pluralize(obj.errors.count, "error") %> trying to add the new article:</h2>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                  <% obj.errors.full_messages.each do |msg| %>
                    <li class="list-group-item"><%= msg %></li>
                  <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>
<% end %>