<div class="container main-content">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>About</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p>Hello</p>
            <p>I'm a cofounder of <a href="http://cumplo.cl" target="_new">Cumplo</a>, the largest marketplace lending platform in Latin America..</p>
            <p>I believe in many things, some of which can be read on the blog entries, but my conviction is the world can be changed for the better. It just takes a little <span>Team Work</span>.</p>
            <p>Before Cumplo I worked for the Chilean government, where I realized changing the world is not that easy when you're a bureaucrat, and a Chilean investment bank, where I learned finance and technology are powerful tools that should be used for good.</p>
            <p>I have been a guest speaker at many events, most importantly for <a href="http://www.asech.cl/" target="_new">ASECH</a>; I have mentored startups and students; and I have been a teacher, with the most formal experience as a teacher of IT Engineering at <a href="http://www.duoc.cl" target="_new">Duoc</a>, in Chile.</p>
    		<p>I also cofounded 2 software companies as side projects, focused on providing technological solutions for SMEs. RIP Huntme and Koywe.</p>
    		<p>Feel free to contact me whenever you want.</p>
        </div>
    <!--
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="#" class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> Download Theme
            </a>
        </div>
    -->
    </div>
</div>