<div class="cointainer-fluid">
    <div class="home-header row">
        <div class="col-lg-12">
            <%= image_tag "gak.png", class: "img-responsive img-circle" %>
            <div class="intro-text">
                <h1 class="name">Guillermo Acuña Kitto</h1>
                <span class="skills">Always under construction. All-around janitor, bilingual cofounder.</span>
            </div>
        </div>
    </div>
</div>