$navbar-default-bg: #2C3E50;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

/*Custom by GAK*/

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
.navbar {
    margin-bottom: 0;
    background-color: #2C3E50;
}
.navbar .navbar-brand {
  color: white;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:active,
.navbar .navbar-brand.active {
  color: #18BC9C;
}
.navbar .navbar-nav li a {
  color: white;
}
.navbar .navbar-nav li a:hover {
  color: #18BC9C;
}
.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:active {
  color: white;
}
.navbar .navbar-nav li.active a {
  color: white;
  background: #18BC9C;
}
.navbar .navbar-nav li.active a:hover,
.navbar .navbar-nav li.active a:focus,
.navbar .navbar-nav li.active a:active {
  color: white;
  background: #18BC9C;
}
.img-circle {
    border-radius: 50%;
    height: 256px;
    width: 256px;
}
.home-header {
  text-align: center;
  background: #18BC9C;
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
  outline:none;
}
.home-header img {
  display: block;
  margin: 0 auto 20px;
}
.home-header .intro-text .name {
  display: block;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
.home-header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  .home-header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  .home-header .intro-text .name {
    font-size: 4.75em;
  }
  .home-header .intro-text .skills {
    font-size: 1.75em;
  }
}
.main-content{
    margin-bottom:30px;
}
.main-content a{
    color: #18BC9C;
}
.main-content a:hover{
    color: #107f69;
    text-decoration:none;
}
.article-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}
.article-actions a, .article-actions a:hover{ 
    color:white;
}

.article-title{
    font-weight: bold;
    font-size: 1.5em;
}

.article-body{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 10px;
  background-color: #2C3E50;
}
footer .footer-col {
  margin-bottom: 10px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}
footer a{
    color: #18BC9C;
}
footer a:hover{
    text-decoration: none;
    color: #1cdbb6;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 0px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18BC9C;
  background: white;
  border: solid 2px white;
}