<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>Santiago
                        <br>Chile</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="http://www.facebook.com/gjacuna" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="http://www.twitter.com/gjacuna" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="http://cl.linkedin.com/in/gjacuna" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="mailto:g@acuna.me" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-send"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About Guillermo</h3>
                    <p>Bilingual entrepreneur, cofounder of the largest marketplace-lending platform in Latin America, <a href="http://cumplo.cl">Cumplo</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; <a href="http://acuna.me">acuna.me</a> 2017
                </div>
            </div>
        </div>
    </div>
</footer>